logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/.gitignore
public/components/angular-route/.bower.json
public/components/angular-route/README.md
public/components/angular-route/angular-route.js
public/components/angular-route/angular-route.min.js
public/components/angular-route/angular-route.min.js.map
public/components/angular-route/bower.json
public/components/angular-route/index.js
public/components/angular-route/package.json
public/components/angular/.bower.json
public/components/angular/README.md
public/components/angular/angular-csp.css
public/components/angular/angular.js
public/components/angular/angular.min.js
public/components/angular/angular.min.js.gzip
public/components/angular/angular.min.js.map
public/components/angular/bower.json
public/components/angular/index.js
public/components/angular/package.json
public/components/bootstrap/.bower.json
public/components/bootstrap/CHANGELOG.md
public/components/bootstrap/Gruntfile.js
public/components/bootstrap/LICENSE
public/components/bootstrap/README.md
public/components/bootstrap/bower.json
public/components/bootstrap/dist/css/bootstrap-theme.css
public/components/bootstrap/dist/css/bootstrap-theme.css.map
public/components/bootstrap/dist/css/bootstrap-theme.min.css
public/components/bootstrap/dist/css/bootstrap-theme.min.css.map
public/components/bootstrap/dist/css/bootstrap.css
public/components/bootstrap/dist/css/bootstrap.css.map
public/components/bootstrap/dist/css/bootstrap.min.css
public/components/bootstrap/dist/css/bootstrap.min.css.map
public/components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
public/components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
public/components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
public/components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
public/components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
public/components/bootstrap/dist/js/bootstrap.js
public/components/bootstrap/dist/js/bootstrap.min.js
public/components/bootstrap/dist/js/npm.js
public/components/bootstrap/fonts/glyphicons-halflings-regular.eot
public/components/bootstrap/fonts/glyphicons-halflings-regular.svg
public/components/bootstrap/fonts/glyphicons-halflings-regular.ttf
public/components/bootstrap/fonts/glyphicons-halflings-regular.woff
public/components/bootstrap/fonts/glyphicons-halflings-regular.woff2
public/components/bootstrap/grunt/.jshintrc
public/components/bootstrap/grunt/bs-commonjs-generator.js
public/components/bootstrap/grunt/bs-glyphicons-data-generator.js
public/components/bootstrap/grunt/bs-lessdoc-parser.js
public/components/bootstrap/grunt/bs-raw-files-generator.js
public/components/bootstrap/grunt/configBridge.json
public/components/bootstrap/grunt/sauce_browsers.yml
public/components/bootstrap/js/.jscsrc
public/components/bootstrap/js/.jshintrc
public/components/bootstrap/js/affix.js
public/components/bootstrap/js/alert.js
public/components/bootstrap/js/button.js
public/components/bootstrap/js/carousel.js
public/components/bootstrap/js/collapse.js
public/components/bootstrap/js/dropdown.js
public/components/bootstrap/js/modal.js
public/components/bootstrap/js/popover.js
public/components/bootstrap/js/scrollspy.js
public/components/bootstrap/js/tab.js
public/components/bootstrap/js/tooltip.js
public/components/bootstrap/js/transition.js
public/components/bootstrap/less/.csscomb.json
public/components/bootstrap/less/.csslintrc
public/components/bootstrap/less/alerts.less
public/components/bootstrap/less/badges.less
public/components/bootstrap/less/bootstrap.less
public/components/bootstrap/less/breadcrumbs.less
public/components/bootstrap/less/button-groups.less
public/components/bootstrap/less/buttons.less
public/components/bootstrap/less/carousel.less
public/components/bootstrap/less/close.less
public/components/bootstrap/less/code.less
public/components/bootstrap/less/component-animations.less
public/components/bootstrap/less/dropdowns.less
public/components/bootstrap/less/forms.less
public/components/bootstrap/less/glyphicons.less
public/components/bootstrap/less/grid.less
public/components/bootstrap/less/input-groups.less
public/components/bootstrap/less/jumbotron.less
public/components/bootstrap/less/labels.less
public/components/bootstrap/less/list-group.less
public/components/bootstrap/less/media.less
public/components/bootstrap/less/mixins.less
public/components/bootstrap/less/mixins/alerts.less
public/components/bootstrap/less/mixins/background-variant.less
public/components/bootstrap/less/mixins/border-radius.less
public/components/bootstrap/less/mixins/buttons.less
public/components/bootstrap/less/mixins/center-block.less
public/components/bootstrap/less/mixins/clearfix.less
public/components/bootstrap/less/mixins/forms.less
public/components/bootstrap/less/mixins/gradients.less
public/components/bootstrap/less/mixins/grid-framework.less
public/components/bootstrap/less/mixins/grid.less
public/components/bootstrap/less/mixins/hide-text.less
public/components/bootstrap/less/mixins/image.less
public/components/bootstrap/less/mixins/labels.less
public/components/bootstrap/less/mixins/list-group.less
public/components/bootstrap/less/mixins/nav-divider.less
public/components/bootstrap/less/mixins/nav-vertical-align.less
public/components/bootstrap/less/mixins/opacity.less
public/components/bootstrap/less/mixins/pagination.less
public/components/bootstrap/less/mixins/panels.less
public/components/bootstrap/less/mixins/progress-bar.less
public/components/bootstrap/less/mixins/reset-filter.less
public/components/bootstrap/less/mixins/reset-text.less
public/components/bootstrap/less/mixins/resize.less
public/components/bootstrap/less/mixins/responsive-visibility.less
public/components/bootstrap/less/mixins/size.less
public/components/bootstrap/less/mixins/tab-focus.less
public/components/bootstrap/less/mixins/table-row.less
public/components/bootstrap/less/mixins/text-emphasis.less
public/components/bootstrap/less/mixins/text-overflow.less
public/components/bootstrap/less/mixins/vendor-prefixes.less
public/components/bootstrap/less/modals.less
public/components/bootstrap/less/navbar.less
public/components/bootstrap/less/navs.less
public/components/bootstrap/less/normalize.less
public/components/bootstrap/less/pager.less
public/components/bootstrap/less/pagination.less
public/components/bootstrap/less/panels.less
public/components/bootstrap/less/popovers.less
public/components/bootstrap/less/print.less
public/components/bootstrap/less/progress-bars.less
public/components/bootstrap/less/responsive-embed.less
public/components/bootstrap/less/responsive-utilities.less
public/components/bootstrap/less/scaffolding.less
public/components/bootstrap/less/tables.less
public/components/bootstrap/less/theme.less
public/components/bootstrap/less/thumbnails.less
public/components/bootstrap/less/tooltip.less
public/components/bootstrap/less/type.less
public/components/bootstrap/less/utilities.less
public/components/bootstrap/less/variables.less
public/components/bootstrap/less/wells.less
public/components/bootstrap/nuget/MyGet.ps1
public/components/bootstrap/nuget/bootstrap.less.nuspec
public/components/bootstrap/nuget/bootstrap.nuspec
public/components/bootstrap/package.js
public/components/bootstrap/package.json
public/components/jquery/.bower.json
public/components/jquery/MIT-LICENSE.txt
public/components/jquery/bower.json
public/components/jquery/dist/jquery.js
public/components/jquery/dist/jquery.min.js
public/components/jquery/dist/jquery.min.map
public/components/jquery/src/ajax.js
public/components/jquery/src/ajax/jsonp.js
public/components/jquery/src/ajax/load.js
public/components/jquery/src/ajax/parseJSON.js
public/components/jquery/src/ajax/parseXML.js
public/components/jquery/src/ajax/script.js
public/components/jquery/src/ajax/var/nonce.js
public/components/jquery/src/ajax/xhr.js
public/components/jquery/src/attributes.js
public/components/jquery/src/attributes/attr.js
public/components/jquery/src/attributes/classes.js
public/components/jquery/src/attributes/prop.js
public/components/jquery/src/attributes/support.js
public/components/jquery/src/attributes/val.js
public/components/jquery/src/callbacks.js
public/components/jquery/src/core.js
public/components/jquery/src/core/access.js
public/components/jquery/src/core/init.js
public/components/jquery/src/core/parseHTML.js
public/components/jquery/src/core/ready.js
public/components/jquery/src/core/var/rsingleTag.js
public/components/jquery/src/css.js
public/components/jquery/src/css/addGetHookIf.js
public/components/jquery/src/css/curCSS.js
public/components/jquery/src/css/defaultDisplay.js
public/components/jquery/src/css/hiddenVisibleSelectors.js
public/components/jquery/src/css/support.js
public/components/jquery/src/css/swap.js
public/components/jquery/src/css/var/cssExpand.js
public/components/jquery/src/css/var/getStyles.js
public/components/jquery/src/css/var/isHidden.js
public/components/jquery/src/css/var/rmargin.js
public/components/jquery/src/css/var/rnumnonpx.js
public/components/jquery/src/data.js
public/components/jquery/src/data/Data.js
public/components/jquery/src/data/accepts.js
public/components/jquery/src/data/var/data_priv.js
public/components/jquery/src/data/var/data_user.js
public/components/jquery/src/deferred.js
public/components/jquery/src/deprecated.js
public/components/jquery/src/dimensions.js
public/components/jquery/src/effects.js
public/components/jquery/src/effects/Tween.js
public/components/jquery/src/effects/animatedSelector.js
public/components/jquery/src/event.js
public/components/jquery/src/event/ajax.js
public/components/jquery/src/event/alias.js
public/components/jquery/src/event/support.js
public/components/jquery/src/exports/amd.js
public/components/jquery/src/exports/global.js
public/components/jquery/src/intro.js
public/components/jquery/src/jquery.js
public/components/jquery/src/manipulation.js
public/components/jquery/src/manipulation/_evalUrl.js
public/components/jquery/src/manipulation/support.js
public/components/jquery/src/manipulation/var/rcheckableType.js
public/components/jquery/src/offset.js
public/components/jquery/src/outro.js
public/components/jquery/src/queue.js
public/components/jquery/src/queue/delay.js
public/components/jquery/src/selector-native.js
public/components/jquery/src/selector-sizzle.js
public/components/jquery/src/selector.js
public/components/jquery/src/serialize.js
public/components/jquery/src/sizzle/dist/sizzle.js
public/components/jquery/src/sizzle/dist/sizzle.min.js
public/components/jquery/src/sizzle/dist/sizzle.min.map
public/components/jquery/src/traversing.js
public/components/jquery/src/traversing/findFilter.js
public/components/jquery/src/traversing/var/rneedsContext.js
public/components/jquery/src/var/arr.js
public/components/jquery/src/var/class2type.js
public/components/jquery/src/var/concat.js
public/components/jquery/src/var/hasOwn.js
public/components/jquery/src/var/indexOf.js
public/components/jquery/src/var/pnum.js
public/components/jquery/src/var/push.js
public/components/jquery/src/var/rnotwhite.js
public/components/jquery/src/var/slice.js
public/components/jquery/src/var/strundefined.js
public/components/jquery/src/var/support.js
public/components/jquery/src/var/toString.js
public/components/jquery/src/wrap.js
